@charset "utf-8";
@import url(http://fonts.googleapis.com/css?family=Ubuntu);

/*************** TYPOGRAPHY ***************/

/********** ALL **********/
* {font-family: 'Ubuntu', sans-serif;}

/*** HEADER ***/
header section a h1 {color: #810000; text-shadow: 0 0 15px #ffffff;}
header nav ul li a {}
header #search-bar form input#search {}
header #search-bar form input#search-button {}
#site-menu ul li a{
	background-color: #000;
}
#site-menu ul li a:hover{
	background-color: #607D8B;
}
#site-menu ul li.active a{
	background-color: #810000;
}
#facebook {
	padding: 15px;
	float: right;
}
/*** MAIN ***/
main header h2 {
	padding:20px 15px;
	margin: 0;
	color: #810000;
}

/*** FOOTER ***/
footer {color: #fff; text-align: center;}


/********** HOME **********/
#home article header h3 {
	color: #810000;
	clear: both;
}
#home article section p {
	text-indent: 35px;
	text-align: justify;
}



/********** SERVICES **********/
#services article header h3 {padding: 15px 35px 0; color: #810000;}
#services article section h4, #services article section h5 {
	padding: 0 50px;
	margin: 0;
	color: #07537b;
}
#services article section p {padding: 0 35px; text-align: justify;}
#services article section p.access {padding: 0 50px; text-align: justify;}


/********** CALENDAR **********/
#calendar article section p {padding: 0 35px; text-align: justify; text-indent: 35px;}


/********** FORMS **********/
#forms ul li {}
#forms ul li h3 {}
#forms ul li ul li h4 {}
#forms ul li ul li {}
#forms ul li ul li.link {}
#forms ul li ul li.link a img {}


/********** CONTACT **********/
#contact ul li img {}
#contact ul li h5 {}
#contact ul li h6 {}
#contact ul li ul li {}


/*************** STYLE ***************/

/********** ALL **********/
body {
	background: linear-gradient(to right, #07537b 0%,#0a9cdf 50%,#07537b 100%)
}
.gridContainer{
	background: #fff;
}


/********** HEADER **********/

/*** ALL ***/
header#banner {background: url("../img/required/hoopa-cropped.jpg");}

/*** MOBILE ***/
#banner section.mobile {background: url("../img/required/black-50.png"); text-align: center;}
#menu-icon, #search-icon {cursor: pointer;}

/*** TABLET ***/
section.tablet {text-align: center;}
section.tablet a {color: #810000;
	text-decoration: none;}

/*** DESKTOP ***/
section.desktop {
	text-align: center;
}
section.destop a {
	color: #810000;
	text-decoration: none;
}


/********** NAV **********/

/*** ALL ***/
nav ul {text-align: center;}
nav ul li.active {
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
	filter: alpha(opacity=90);
	opacity: .9;
}
nav ul li:hover {
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
	filter: alpha(opacity=90);
	opacity: .9;
}
nav ul li {
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
	filter: alpha(opacity=90);
	opacity: .9;
}
nav ul li a {
	color: #fff;
	text-decoration: none;
}


/********** SEARCH **********/

/*** ALL ***/
div#search-bar {background: url("../img/required/black-50.png");
	text-align: center;}
#search {
	border-radius: 5px;
	border: 1px solid #014e77;
	color: #014e77;
	background: #fff;
}
#search-button {
	color: #fff;
	background: #014e77;
	border-radius: 5px;
	border: 1px solid #fff;
}


/********** FOOTER **********/

/*** ALL ***/
footer {background: #014e77;
	text-align: center;}


/********** HOME **********/
#home article header h3 {
	margin: 0;
	padding: 15px;
}
#home article section p {
	margin: 5px;
	padding: 0 15px;
}


/********** SERVICES **********/
#services article header h3 {}
#services article section h4 {}
#services article section p {}
#services article section .list-link {color: #000;}

#services section ul {
	background: #014e77;
	border: 2px solid #000;
	border-radius: 5px;
	color: #fff;
	text-align: left;
	width: 300px;
	margin: 0 0 0 50px;
	padding: 0 0 30px 0;
}
#services section h3 {margin-left: 15px;
	color: #fff;}
#services section li {margin-left: 45px;}
#services section li a {color: #fff;}



/********** CALENDAR **********/
#calendar article section p {}
#calendar article section h3 {
	color: #014e77;
	text-align: center;

}


/********** FORMS **********/
.link {}
#forms ul li h3 {}
#forms ul li ul li h4 {}
#forms ul li ul li {}
#forms ul li.category ul .require {}

/********** CONTACT **********/
#location ul h3 {}
#location ul li {}
#location address {text-align: center;}

#contact ul li img {}
#contact ul li h5 {}
#contact ul li h6 {}
#contact ul li ul li {}
